@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.tiny-icon{
    width: 40px;
}


.base-text{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 17px;
}


.base-text-bebas{
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
}

.oblique-text{
    font-family: "Bebas Neue", sans-serif;
    transform: skew(-13deg);
    font-size: 25px;
}


.content-display{
    background-color: #F05454;
    padding: "50px";
    margin: "20px";
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 32px;
  padding: 16px 0;
}

.content-grid > * {
    max-height: 400px;
    overflow: auto;
    gap: 20px;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.copyButton:hover {
    color: #F05454;
}